@font-face {
	font-family:'Roboto Flex'; 
	src:url('./fonts/RobotoFlex.ttf');
  font-weight: 100 1000;
}

@font-face {
	font-family:'Decovar Regular24'; 
	src:url('./fonts/Decovar-VF.ttf');
}

@font-face {
	font-family: "Cheee";
	src: url("./fonts/Cheee_Variable1.woff2") format("woff2-variations");
	font-display: swap;
}

@font-face {
  src: url('./fonts/RhodyVariable-VF.woff2') format("woff2-variations");
  font-family: 'Rhododendron';
  font-weight: 300 800;
  font-display: swap;
}

@font-face {
  src: url('./fonts/AktivGroteskVF_Trial_WghtWdthItal.woff2') format("woff2-variations");
  font-family: 'Aktiv Grotesk VF';
  font-weight: 100 900;
  /* font-display: swap; */
}

.container {
  background-color: #b3dbcf;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 0px 20px
}

.dropdowns {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 70%;
  margin: 20px 0px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
  font-family: 'Aktiv Grotesk VF';
  font-size: 20px;
  color: #287773;
}

.sliderRow {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  border-bottom: 1px solid #333;
  font-size: 20px;
  color:  #287773;
  font-family: 'Aktiv Grotesk VF';
}

.sliderRow label {
  width: 250px;
}

.min {
  text-align: right;
  width: 80px;
  margin: 0px 10px;
}
.slider {
  width: 400px;
}
.max {
  width: 80px;
  margin: 0px 10px;
}
.value {
  width: 200px;
}

.fontSettings {
  font-size: 16px;
}

h1 {
  margin: 0px 20px;
  text-align: center;
  font-size: 6vw;
  color: #287773;
}


/* Everything after here is to style the sliders */
input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 100%; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #000000;
  height: 26px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #287773;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #28777399;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #287773;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
  background: #287773;
}
input[type=range]::-ms-fill-upper {
  background: #287773;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
  background: #28777399;
}

/* These styles are for the dropdown component */

.Dropdown-root {
  position: relative;
  
}

.Dropdown-control {
  position: relative;
  display: flex;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
  color: #333;
  cursor: default;
  outline: none;
  padding: 8px 0px 8px 10px;
  transition: all 200ms ease;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-placeholder {
  flex: 1;
}

.Dropdown-arrow-wrapper {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Dropdown-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #999;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: rgba(51, 51, 51, 0.8);
  cursor: pointer;
  display: block;
  padding: 8px 10px;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-option.is-selected {
  background-color: #f2f9fc;
  color: #333;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}
